/* header for medium and large screens */
.bigText {
    font-size: 5vw;
    color: black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 25%;
}

/* header for small screens */
.bigTextSmallScreens {
    font-size: 5vw;
    color: black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 50%;
}