.appContainer {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-style: italic;
}

.headerImage {
  width: 15vh;
  border-radius: 100px;
}

.socialsImage {
  width: 4vh;
  margin: 5px;
}